<div class="ui vertical masthead center aligned segment">
    <div class="ui text container">
        <h1 class="ui header" style="font-size:40px; margin-bottom: -12px;">Plan your Day</h1>
        <h2>Make a list of your goals</h2>
        <span class="display-block"><%= image_tag("home.svg", size: "260") %></span>
        <div class="ui huge teal button" style="margin-top: -14px;">
            Get Started
            <i class="right arrow icon"></i>
        </div>
    </div>
</div>


<div class="ui vertical stripe segment">
    <div class="ui text container">
        <h3>Make your day <b>worth</b></h3>
        <p>
            They were dropping, losing altitude in a canyon of rainbow foliage, a lurid communal 
            mural that completely covered the hull of the Sprawl’s towers and ragged Fuller domes,
            dim figures moving toward him in the dark. He’d waited in the shade beneath a bridge or
            overpass. All the speed he took, all the turns he’d taken and the robot gardener.
        </p>
        <a class="ui large button">Read More</a>
        <h4 class="ui horizontal header divider">
            <a href="#">Case studies</a>
        </h4>
        <h3 class="ui header">Benefits for productivity</h3>
        <p>
            The Tessier-Ashpool ice shattered, peeling away from the missionaries, the train reached Case’s station.
            Then a mist closed over the black water and the amplified breathing of the bright void beyond the chain link.
            Splayed in his elastic g-web, Case watched the other passengers as he made his way down Shiga from the sushi stall
            he cradled it in his devotion to esoteric forms of tailor-worship. The color of its skin reminded him of Zone’s whores.
        </p>
    </div>
</div>
<%= render 'layouts/footer' %>