/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "semantic-ui";


.color-text-white {
    color:white;
    &:hover {
        text-decoration: none !important;
        color:white;
    }
}
.new-todo-list-btn {
   margin-top: -2px!important;
}
.align-btn-todo-lists{
    margin-top: -22px!important;
}
.align-todo-item {
    padding-left: 3px;
    margin-top: 7px;
    display: inline-block; 
}   
.marging-top {
    margin-top: -18px!important;
}
.completed-item {
    color: grey;
    text-decoration: line-through;
}
.margin-input-todo-item {
    margin-bottom: 35px;
    margin-top: -18px;
}
.removing-rails-btn-style {
    text-decoration: none!important;
    background: none!important;
    padding: 0px!important;
    border:none!important;
    margin: 0px!important;
}
.badge-margin {
    margin-left: 10px!important;
}
.margin-progress-tracking {
    display: block;
    margin-top: 6px;
    color: grey;
}
.display-block {
    display:block;
}