<div class="ui inverted vertical footer segment form-page">
  <div class="ui container center aligned">
    <a href="https://github.com/Gregory280/todo-app" style="text-decoration:none; color:white;">Checkout the Github Repository</a>
  </div>
</div>