<div class="container ui stackable menu" style="margin-top:15px;">
    <%= link_to root_path do %>
        <div class="item">
            <%=image_tag("logo.png")%>
        </div>
    <% end %>
    <div class="item">
        About
    </div>
    <div class="item">
        My ToDo Lists
    </div>
    <div class="right menu">
        <div class="item">
            Sign Up
        </div>
        <div class="item">
            Sign In
        </div>
    </div>
</div>
